.profile_pic {
	width: 125px;
	border-radius: 8px;
	padding-right: 20px;
}
.name {
	font-size: 1.25rem;
	font-weight: bold;
}
.info{
    width: 50%;
    height: 100%;
    vertical-align: top;
    display: inline-block;
}
.github-profile {
	border-spacing: 1rem;
	width: 100%;
}

